body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
}

.hero-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color:orangered;
    border-radius: 10px;
}
h3{
    color: white;
    font-size: 25px;
}
.data{
    display: flex;
    align-items: center;
    gap: 10px;
}

.user input{
    width: 250px;
    padding: 10px;
    outline: none;
    border: 1px solid white;
}

.button .sub{
    padding: 10px;
    outline: none;
    border: none;
    font-size: 13px;
    background-color:gray;
    color: white;
    border: 1px solid white;
    transition: 300ms;
}

.btn .sub:hover{
    background-color: #ffff;
    color: rgb(49, 145, 255);
    border: 1px solid ;
    transition: .3s;
}

@media (max-width:767px){
    h3{
        font-size: 19px;
    }
    .user input{
        width: 130px;
    }
}

@media (max-width:320px){
    .user input{
        width: 100px;
    }
}